<button mat-icon-button color="primary" (click)="clickAdd.emit($event)" aria-label="Add">
    <mat-icon>add</mat-icon>
</button>
<input type="number" readonly style="width: 50px;" [(ngModel)]="value">
<button mat-icon-button color="primary" (click)="clickRemove.emit($event)" aria-label="Remove">
    <mat-icon>remove</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="clickDelete.emit($event)" aria-label="Delete">
    <mat-icon>delete</mat-icon>
</button>