<mat-grid-list cols="5" rowHeight="93vh">
    <mat-grid-tile #productArea [colspan]="4" [rowspan]="1">

        <div class="container mt-2">
            <div class="col-md-12">
                <h1 class="example-app-name m-0">Store Products</h1>
                <hr class="m-1" style="width:100%;text-align:left;margin-left:0">
            </div>
            <div class="row">
                <app-product-item *ngFor="let bookItem of bookList" class="col-md-3" (clickAddItem)="onAddItem($event)"
                    [item]="bookItem">
                </app-product-item>
            </div>
        </div>

    </mat-grid-tile>

    <mat-grid-tile #resultArea [colspan]="1" [rowspan]="1">
        <div class="container mt-2 h-100">
            <div class="col-md-12">
                <h1 class="example-app-name m-0">Product List</h1>
                <hr class="m-1" style="width:100%;text-align:left;margin-left:0">
            </div>
            <div class="col-md-12 h-100">
                <app-result-form (confirmOrder)="onConfirmOrder()" [totalResultForm]="totalResultForm"
                    (addItem)="onAddItem($event)" (deleteItem)="onDeleteItem($event)"
                    (removeItem)="onRemoveItem($event)" [productListGroup]="productListGroup"></app-result-form>
            </div>
        </div>

    </mat-grid-tile>

</mat-grid-list>

<!-- <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>
    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>
    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>
    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>
    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>

    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>
    <mat-grid-tile #productArea [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
        {{'Content'}}
    </mat-grid-tile>


</mat-grid-list> -->