<article>
    <div class="card-content">
        <img class="spectrum1" [src]="item.cover" [alt]="item.title">
        <h4 class="spectrum-h2 mb-0 ml-1 mr-1">{{item.title}}</h4>
        <mat-toolbar class="example-toolbar mt-0">
            <h2 class="example-app-name m-0 p-0" style="color: forestgreen;">{{item.price | number}}฿</h2>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="onClickCard(item)">
                <mat-icon style="color: forestgreen;">library_add</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</article>