<div *ngIf="routeterDatas[0]?.title === 'Auth'; then isAuth else isNonAuth"></div>

<ng-template #isAuth>
  <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
</ng-template>

<ng-template #isNonAuth>
  <div class="d-flex flex-column w-100 h-100" style="height: -webkit-fill-available">
    <app-navbar (onClickExpanded)="onClickExpanded()" (onClickLogout)="logout()"></app-navbar>

    <div class="app-container w-100 h-100" style="height: inherit;">
      <mat-sidenav-container class="example-container h-100" autosize>

        <!-- <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">

          <mat-nav-list class="nav-list">

            <div *ngFor="let menu of menuList;">
              <mat-list-item [ngClass]="{'active':checkActive(menu.url)}"
                (click)="menu.isShowChildren ? menu.isExpanded=!menu.isExpanded: callLink(menu.url)" class="parent">
                <span class="full-width" *ngIf="(isExpanded || isShowing) && menu?.name">{{menu.name}}</span>
                <mat-icon mat-list-icon *ngIf="menu?.icon">{{menu.icon}}</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : menu.isExpanded}"
                  *ngIf="(isExpanded || isShowing) && menu.isShowChildren">
                  expand_more</mat-icon>
              </mat-list-item>

              <div *ngIf="(isExpanded || isShowing)&&menu.isExpanded" class="submenu"
                [ngClass]="{'expanded' : menu.isExpanded, 'isHide': !menu.isExpanded}">
                <div *ngFor="let subMenu of menu.children;">
                  <mat-list-item [ngClass]="{'active':checkActive(subMenu.url)}"
                    (click)="subMenu.isShowChildren ? subMenu.isExpanded=!subMenu.isExpanded: callLink(subMenu.url)"
                    class="parent">
                    <span class="full-width" *ngIf="(isExpanded || isShowing) && subMenu?.name">{{subMenu.name}}</span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}"
                      *ngIf="(isExpanded || isShowing) && subMenu.isShowChildren">expand_more
                    </mat-icon>
                  </mat-list-item>
                </div>

              </div>

            </div>


          </mat-nav-list>
        </mat-sidenav> -->
        
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
        <!-- <app-title-bar [(routeterDatas)]="routeterDatas"> </app-title-bar>
        <div>
          <app-content-area>
          
          </app-content-area>
        </div> -->

      </mat-sidenav-container>


    </div>
  </div>
</ng-template>

<ng-template #tempOutlet>
  <ng-content></ng-content>
</ng-template>