<div class="container h-100">
    <article class="h-50" style="overflow: scroll;">
        <div class="mt-1 mb-1" *ngFor="let group of productListGroup;let i=index; ">

            <h4 class="example-app-name m-0 p-0">{{i+1}}. {{group.key}}</h4>
            <div class="col-md-12 text-right">
                <app-amount-input [(value)]="group.value.length"
                    (clickAdd)="onAddItem(group.value[group.value.length-1])"
                    (clickDelete)="onDeleteItem(group.value[group.value.length-1])"
                    (clickRemove)="onRemoveItem(group.value[group.value.length-1])">
                </app-amount-input>
            </div>
            <hr class="m-1" style="width:100%;text-align:left;margin-left:0">
        </div>
    </article>
    <footer>
        <form [formGroup]="totalResultForm">

            <div class="row">
                <h2 class="example-app-name m-0 p-0">Subtotal</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">
                    {{subtotal.value | number}}฿</h2>
            </div>
            <div class="row">
                <h3 class="example-app-name m-0 p-0">Discount</h3>
                <span class="example-spacer"></span>
                <h3 class="example-app-name m-0 p-0">
                    {{discount.value | number}}฿</h3>
            </div>
            <div class="row mt-2">
                <h2 class="example-app-name m-0 p-0">NET</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">
                    {{net.value | number}}฿</h2>
            </div>

            <div class="row mt-2">

                <mat-form-field class="example-full-width">
                    <mat-label>Customer credit</mat-label>
                    <input formControlName="cuscredit" type="number" fo matInput placeholder="9,999">
                </mat-form-field>

            </div>

            <div class="row mt-2">
                <h2 class="example-app-name m-0 p-0">Change</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">{{change.value | number}}฿</h2>
            </div>

            <div class="row mt-2">
                <button mat-raised-button class="w-100" [disabled]="totalResultForm.invalid && (subtotal.value < 1) "
                    color="primary" (click)="onConfirmItem()">CONFIRM</button>
            </div>
        </form>
    </footer>

</div>