.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

div.introduction {
  padding: 1em;
  background: #f5f5f5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

article.col-md-4 col-lg-3 {
  background: #f5f5f5;
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content {
  background: #f5f5f5;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 2em;
  border: black;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content h3 {
  margin-bottom: 0.5em;
  font-weight: normal;
}

div.card-content p {
  font-size: 95%;
}

img.spectrum1 {
  width: 100%;
  height: 290px;
  border-radius: 10px;
  border: grey;
  //   box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div a,
a:hover {
  text-decoration: none;
}

div a:hover {
  opacity: 0.8;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}

mat-toolbar {
  height: 50px;
}

.color-green {
  color: greenyellow;
}
