<div class="container h-100 mt-5" *ngIf="this.currentTotalResult && this.currentProductList">
    <div class="col-md-12 text-center">
        <h1 class="example-app-name m-0">Receipt</h1>
        <hr class="m-1" style="width:100%;text-align:left;margin-left:0">
    </div>
    <div class="container h-100">

        <article class="h-50" style="overflow: scroll;">
            <div class="mt-1 mb-1" *ngFor="let group of productListGroup;let i=index; ">
                <h3 class="example-app-name m-0 p-0 col-md-6">{{i+1}}. {{group.key}}</h3>
                <div class="col-md-12 text-center">
                    <img class="spectrum1" [src]="group.value[0].cover" [alt]="group.value[0].title">
                </div>
                <div class="col-md-12 text-right">
                    <h3 class="example-app-name m-0 p-0">{{group.value[0].price}}฿ x {{group.value.length}} piece.</h3>
                </div>
                <hr class="m-1" style="width:100%;text-align:left;margin-left:0">
            </div>
        </article>

        <footer>
            <div class="row">
                <h2 class="example-app-name m-0 p-0">Subtotal</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">{{currentTotalResult.subtotal| number}}฿</h2>
            </div>
            <div class="row">
                <h3 class="example-app-name m-0 p-0">Discount</h3>
                <span class="example-spacer"></span>
                <h3 class="example-app-name m-0 p-0">{{currentTotalResult.discount| number}}฿</h3>
            </div>
            <div class="row mt-2">
                <h2 class="example-app-name m-0 p-0">NET</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">{{currentTotalResult.net| number}}฿</h2>
            </div>

            <div class="row mt-2">
                <h2 class="example-app-name m-0 p-0">Paid</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">{{currentTotalResult.cuscredit| number}}฿</h2>
            </div>

            <div class="row mt-2">
                <h2 class="example-app-name m-0 p-0">Change</h2>
                <span class="example-spacer"></span>
                <h2 class="example-app-name m-0 p-0">{{currentTotalResult.change| number}}฿</h2>
            </div>

            <div class="row mt-2">
                <button mat-raised-button class="w-100" (click)="onBack()" color="primary">Back</button>
            </div>

        </footer>

    </div>
</div>